<div class="row">
    <div class="span12">
        <div class="accordion" id="accordion2">
            <%- include('../checkout/step1.ejs') %>
            <%- include('../checkout/step2.ejs') %>
            <%- include('../checkout/step3.ejs') %>
        </div>
    </div>
</div>
