<div class="row">
    <div class="span12">
        <h1 class="center"><strong>Your order has been received.</strong></h1>
        <h3 class="center">Thank you for your purchase!</h3>
        <p class="center">
            Your order # is: <%= orderId %>.<br/>
            You will receive an order confirmation email with details of your order and a link to track its progress.
        </p>
        <hr/>
        <p class="buttons center">
            <button class="btn btn-inverse" type="submit" id="home">Continue Shopping</button>
        </p>
    </div>
</div>
<div class="row">
    <div class="span12">
        <%- include('../product/feature.ejs') %>
    </div>
</div>