<div class="row">
    <div class="span12">
        <iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                style="margin-top: -50px;margin-bottom: 15px;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2427.3100929723787!2d13.37731841566613!3d52.52782347981566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a851eb34e52481%3A0xe16a43a68925c52d!2sWebtrekk%20GmbH!5e0!3m2!1sen!2sde!4v1596452122772!5m2!1sen!2sde"
        ></iframe>
    </div>
</div>
<div class="row">
    <div class="span5">
        <div>
            <h5>ADDITIONAL INFORMATION</h5>
            <p><strong>Phone:</strong>&nbsp;(123) 456-7890<br>
                <strong>Fax:</strong>&nbsp;+04 (123) 456-7890<br>
                <strong>Email:</strong>&nbsp;<a href="">name@domain.tld</a>
            </p>
            <br/>
            <h5>SECONDARY OFFICE</h5>
            <p><strong>Phone:</strong>&nbsp;(113) 023-1125<br>
                <strong>Fax:</strong>&nbsp;+04 (113) 023-1145<br>
                <strong>Email:</strong>&nbsp;<a href="">name@domain.tld</a>
            </p>
        </div>
    </div>
    <div class="span7">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
        <%- include('../forms/contact.ejs') %>
    </div>
</div>