<div class="row">
    <div class="span12">
        <%- include('../product/feature.ejs') %>
    </div>
</div>
<div class="row">
    <div class="span12">
        <%- include('../product/latest.ejs') %>
    </div>
</div>