<div class="row">
    <div class="span5">
        <%- include('../forms/returning-customer.ejs') %>
    </div>
    <div class="span7">
        <%- include('../forms/register.ejs') %>
    </div>
</div>