<div class="row">
    <div class="span9">
        <%- include('../product/search-list.ejs') %>
    </div>
    <div class="span3 col">
        <div class="block">
            <%- include('../product/randomize.ejs') %>
        </div>
        <div class="block">
            <%- include('../product/best-seller.ejs') %>
        </div>
    </div>
</div>