<meta charset="utf-8">
<title>E-commerce Shop</title>
<base href="<%= shop.protocol %>://<%= shop.host %><%= shop.port %>/">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">

<!--
<meta http-equiv="Accept-CH" content="Sec-CH-UA, Sec-CH-UA-Full-Version-List, Sec-CH-UA-Model, Sec-CH-UA-Mobile, Sec-CH-UA-Platform, Sec-CH-UA-Platform-Version">
<meta http-equiv="Delegate-CH" content="Sec-CH-UA https://track.customer.com; Sec-CH-UA-Full-Version-List https://track.customer.com; Sec-CH-UA-Model https://track.customer.com; Sec-CH-UA-Mobile https://track.customer.com; Sec-CH-UA-Platform https://track.customer.com; Sec-CH-UA-Platform-Version https://track.customer.com;">
-->

<!-- bootstrap -->
<link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="assets/themes/css/bootstrappage.css" rel="stylesheet"/>

<!-- global styles -->
<link href="assets/themes/css/flexslider.css" rel="stylesheet"/>
<link href="assets/themes/css/main.css" rel="stylesheet"/>

<!-- scripts -->
<script src="assets/themes/js/jquery-1.7.2.min.js"></script>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/themes/js/superfish.js"></script>
<script src="assets/themes/js/jquery.scrolltotop.js"></script>

<!-- tracking -->
<script src="assets/themes/js/js/smart-pixel.min.js"></script>
<script>
    window.wtSmart = window.wtSmart || [];
    window.wtSmart.push(function(wtSmart) {
        // set initial tracking config
        wtSmart.init.set({
            trackId: '123451234512345',
            trackDomain: 'analytics01.wt-eu02.net'
        });

        // set advanced config
        wtSmart.advanced.set({
            sendViaServer: {
                activated: true,
                serverDomain: 'track.customer.com',
                serverPath: 'img/tracking',
                droppedRequests: 0
            }
        });

        // send tracking data
        wtSmart.track();
    });
</script>
