<section class="navbar main-menu">
    <div class="navbar-inner main-menu">
        <a href="" class="logo pull-left"><img src="assets/themes/images/logo.png" class="site_logo" alt=""></a>
        <nav id="menu" class="pull-right">
            <ul>
                <li><a href="products">All</a></li>
                <li><a href="category/jackets">Jackets</a></li>
                <li><a href="category/jeans">Jeans</a></li>
                <li><a href="category/shirts">Shirts</a></li>
                <li><a href="category/shoes">Shoes</a></li>
            </ul>
        </nav>
    </div>
</section>